*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}

/*********************************
** Global title code
**********************************/
.title{
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
.title h2{
	font-size: 52px;
	font-weight: 700;
	color: #506a85;
}
.title p{
	width: 55%;
	margin: 10px auto;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #a3b1bf;
}
/*************end****************/

/*header start*/

/*top header start*/
.header{
	width: 100%;
}
.top-header{
	width: 100%;
	background: #f5f7fa;
	padding: 5px 0;
}
.info-details{
	width: 100%;
}
.info-details ul{
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.info-details ul li{
	list-style: none;
	display: inline-block;
}
.info-details ul li a{
	font-size: 14px;
	font-weight: 500;
	color: #506a85;
	margin-right: 10px;
}
.info-details ul li a .fa{
	margin-right: 5px;
}
.social-icons{
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	text-align: right;
}
.social-icons li{
	list-style: none;
	display: inline-block;
}
.social-icons li a{
	font-size: 14px;
	font-weight: 700;
	color: #506a85;
	margin-left: 10px;
	transition: 1s;
}
.social-icons li a:hover{
	color: #00bc9c;
}
/*top header end*/

/*main menu start*/
.main-menu{
	width: 100%;
}
.main-menu .bg-light{
	background-color: transparent !important;
}
.main-menu .navbar-brand{
	margin-right: 50px;
}
.main-menu .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #00bc9c;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-menu .navbar-light .navbar-nav .nav-link {
    color: #506a85;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 10px;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover, .main-menu .navbar-light .navbar-nav .nav-link:focus{
	color: #00bc9c;
}
.main-menu .fa-search{
	font-size: 14px;
	font-weight: 700;
	color: #506a85;
}
/*main menu end*/
/*header end*/

/*slider start*/
.slider{
	width: 100%;
}
.slider .carousel-caption {
    bottom: 30%; 
}
.slider .carousel-caption h2{
	font-size: 52px;
	text-transform: uppercase;
	font-weight: 700;
}
.slider .carousel-caption p{
	font-size: 16px;
	line-height: 26px;
	color: #a3b1bf;
}
.slider .carousel-caption .btn-info{
	padding: 12px 30px;
	margin: 30px 0 0;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #00bc9c;
	border-radius: 3px;
	background-color: #00bc9c;
	transition: 1s;
}
.slider .carousel-caption .btn-info:hover, .slider .carousel-caption .btn-info:focus{
	color: #00bc9c;
	border: 1px solid #00bc9c;
	border-radius: 3px;
	background-color: transparent;
}
/*slider end*/

/*who we start*/
.who-we{
	width: 100%;
	padding: 80px 0;
}
.who-we .card{
	border: none;
	margin-top: 20px;
}
.who-we .card img{
	margin-top: 18px;
}
.who-we .card .card-body{
	padding: 1rem 25px; 
}
.who-we .card .card-body .card-title{
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #506a85;
}
.who-we .card .card-body .card-text{
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    color: #a3b1bf;
}
/*who we end*/
.latest-work{
	width: 100%;
	padding: 80px 0;
	background: #f2f5f7;
}
.latest-work .card{
	margin-top: 30px;
	text-align: center;
}
.latest-work .card .card-body .card-title{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
	color: #506a85;
}
.latest-work .card .card-body .card-text{
    font-size: 14px;
    line-height: 24px;
    color: #a3b1bf;
    margin-bottom: 0;
}

/*slider start*/
.latest-work .owl-carousel{
    display: block;
    margin-top: 60px;
}
.latest-work .owl-theme .owl-dots .owl-dot.active span{
	background: #00bc9c;
}
.latest-work .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}
/*slider end*/
/*latest work*/

/*get-in-touch start*/
.get-in-touch{
	width: 100%;
	padding: 80px 0;
	text-align: center;
}
.get-in-touch h2{
	font-weight: 600;
}
.get-in-touch .btn-info{
	padding: 12px 30px;
	margin: 30px 0 0;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #00bc9c;
	border-radius: 3px;
	background-color: #00bc9c;
	transition: 1s;
}
.get-in-touch .btn-info:hover, .get-in-touch .btn-info:focus{
	color: #00bc9c;
	border: 1px solid #00bc9c;
	border-radius: 3px;
	background-color: transparent;
}
/*get-in-touch end*/

/*footer start*/
.footer{
	width: 100%;
}
.footer .top-footer{
	width: 100%;
	padding: 80px 0;
	background: #2f4052;
}
.footer .top-footer .widget{
	width: 100%;
}
.footer .top-footer .widget h4{
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
}
.footer .top-footer .widget .fimg{
	margin-bottom: 25px;
}
.footer .top-footer .widget p{
	font-size: 14px;
	font-weight: 600;
	color: #a3b1bf;
	margin-bottom: 25px;
}
.footer .top-footer .widget p a{
	font-size: 16px;
	font-weight: 700;
	color: #a3b1bf;
}
.footer .top-footer .widget p a .fa{
	margin-left: 5px;
}
.footer .top-footer .widget .card{
	border: none;
	border-radius: 0;
}
.footer .top-footer .widget .card-img-top{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.footer .top-footer .widget .address .fa{
	margin-right: 10px;
}
.footer .top-footer .widget .main-form{
	width: 100%;
	position: relative;
}
.footer .top-footer .widget .main-form .form-control{
	height: auto !important;
	padding: 10px;
	background: #4e5c6c;
	border: 1px solid #4e5c6c;
	color: #828e99;
}
.footer .top-footer .widget .main-form .form-control:focus{
	box-shadow: none !important;
}
.footer .top-footer .widget .main-form .btn-primary{
	color: #fff;
	background-color: #00bc9c;
	border: 1px solid #00bc9c;
	position: absolute;
	top: 3px;
	right: 2px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 9px 13px;
}
.footer .top-footer .widget .main-form .btn-primary:hover{
	color: #00bc9c;
	background-color: transparent;
	border: 1px solid #00bc9c;
}
.main-footer{
	width: 100%;
	padding: 17px 0;
	background: #283645;
}
.main-footer p{
	margin-top: 0;
    margin-bottom: 0;
	font-size: 14px;
	font-weight: 600;
	color: #a3b1bf;
}
.main-footer p span{
	margin: 0 10px;
}
/*footer end*/

/*scroll to top btn start*/
.top-scroll{
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.top-scroll .btn-info{
	color: #949ba2;
	background-color: #3c5065;
	border: 1px solid #3c5065;
	font-size: 20px;
	padding: 3px 12px;
}
/*scroll to top btn end*/